@import './config';

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

html {
    font-size: 24px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    padding-bottom: 0.05rem;
    color: $black;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 0.1rem solid transparent;
    transition: none 0.25s ease-in-out;
    transition-property: color, border-color;

    &:hover {
        border-color: rgba($black, 0.5);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    &__title {
        transform: scale(1, 1.5);
        margin: 0;
        padding: 0;
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.main {
    margin: 0.5rem 0;
    min-height: 0.5rem;
    background-color: $black;
}

.footer {
    text-align: center;
}